.app {
    display: grid;
    place-items:center ;
    height: 100vh;
    background-color: #ECE5DD;
    background-image: url("https://htmlcolors.com/color-image/128c7e.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-position: -2px -350px;
       
}

.app_body {
    display: flex;
    background-color: #ededed;
    margin-top: -50px;
    height: 90vh;
    width: 90vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}